<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>UH Mānoa Club Hub</h1></a>
      <a class="item" href="{{pathFor 'Browse_Clubs_Page'}}">Browse Clubs</a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Home_Page'}} item" href="{{pathFor 'Home_Page'}}">Home</a>
        <a class="{{ isActiveRoute 'Add_Club_Page'}} item" href="{{ pathFor 'Add_Club_Page' }}">Create Club </a>

        <a class="{{ isActiveRoute 'Founder_Admin'}} item" href="{{ pathFor 'Founder_Admin' }}">Manage Clubs</a>
      <!--
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">Create event</a>
        -->
      {{/if}}
      <div class="right aligned item">{{> Cas_Login }}</div>
      <!--<a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>-->
    </div>
  </div>
</template>